@import "../../styles/variables";

.productsSection {
    padding: 5rem 0;
}

.sectionTitle {
    padding: 1rem 0;
    
    h2 {
        font-size: 2.5rem;
        font-weight: 750;
        text-align: center;
        color: $color-text;
    }
}