@import '../../styles/variables';
@import '../../styles/global';

.section{
    background: 
        linear-gradient(
            $color-navbar,
            $color-background
        );

        .sectionTitle {
            padding: 1rem 0;
            
            font-size: 2.5rem;
            font-weight: 750;
            text-align: center;
            color: $color-light;
}
}
