$color-background: #F5F1EA;
$color-navbar: #2F241F;

$color-primary: #6F4E37;
$color-primary-hover: #5A3E2B;

$color-text: #2C2C2C;
$color-text-muted: #666666;

$color-light: #FFFFFF;
$color-accent: #D6B48A;

$radius: 14px;
$transition: all 0.3s ease;
$shadow-card: 0 4px 18px rgba(0, 0, 0, 0.88);

$container-width: 1200px;