@import "../../styles/variables";

.hero {
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: 
        linear-gradient(
            rgba(47, 36, 31, 0.7),
            rgba(47, 36, 31, 0.7)
        ),
        url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085");
    background-size: cover;
    background-position: center;

    color: $color-light;
}

.container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.content {
    text-align: center;

    max-width: 600px;

    h1 {
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 3px;
    }

    h2 {
        font-size: 2rem;
        font-weight: 400;
    }

    p {
        font-size: 1rem;
        margin: 1.5rem 0;
    }
}

.button {
    background-color: $color-primary;
    border: none;
    padding: 1rem 2rem;

    border-radius: $radius;
}

.button:hover {
    background-color: $color-primary-hover;
}